.DS_Store
/bin/
/dist/
surfarea
surfarea.exe
*.out
*.test
coverage.out

.artifacts/
.idea/vcs.xml
/lopper

.lopper-cache/
extensions/vscode-lopper/out/
extensions/vscode-lopper/.vscode-test/
extensions/vscode-lopper/node_modules/
